@page "/configuration"
@using song_id
@inject SongIdService songIdService

<PageTitle>Configuration</PageTitle>

<h3>Configuration</h3>

<fieldset>
    @* <InputRadioGroup @bind-Value="songIdService.SongId.RecordingDeviceName">
        <legend>Select Recording Device:</legend>
        @foreach (var device in SongId.GetAvailableRecordingDevices())
        {
            <div>
                <label>
                    <InputRadio Value="device.ToString()" />
                    @device
                </label>
            </div>
        }
    </InputRadioGroup> *@
</fieldset>

@* <button class="btn btn-primary" @onclick="SaveDefaultDevice">Make Default Device</button> *@

@code {
    private void SaveDefaultDevice()
    {
        
    }
}
